.animal-container {
    background-color: #E9E9EB;
    min-height: 100vh;
    padding: 2rem;
}

.logo-animal {
    width: 22%;
}

.titulo-animal h2 {
    color: #282113;
    font-size: 25px;
    margin: 0;

}

.titulo-animal {
    gap: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5%;
    margin-top: 15%;
}

.rel-animal button {
    background-color: #282113;
    border: none;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0 2rem;
}

.rel-animal{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5%;
}
 
.alerta-animal button{
    border-radius: 20px;
    background-color: #780406;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: start;
    gap: 5%;
    height: 100px;
    margin-top: 10%;
}
.grafico-animal{
    background-color: #ffffff;
    border-radius: 20px;
    height: 200px;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10%;
}