.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/back-splash.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;        /* ← Mudei aqui: empurra para BAIXO */
  justify-content: center;
  margin: 0;
  padding: 0;
}

.logo {
  width: 65%;
  height: auto;
  animation: logoAppear 600ms ease-in-out;
  margin-bottom: 60%;           /* ← Ajuste a distância do fundo */
}

@keyframes logoAppear {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}