
.gauge-direita {
  position: relative;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.gauge-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.gauge-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.gauge-progress {
  position: absolute;
  inset: 0;
}

.progress-ring {
  transition: stroke-dashoffset 0.6s ease;
}
