.tuto-container {
  width: 100vw;              /* ocupa toda a largura da tela */
  min-height: 100vh;
  background-color: #E9E9EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5vw;         /* usa padding em vw pra ser responsivo */
  box-sizing: border-box;    /* padding não soma à largura total */
  overflow-x: hidden;        /* evita scroll lateral */
}
/* título e logo */
.titulo-tuto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;               /* garante que ocupe a largura total */
  margin-top: 15%;
  margin-bottom: 1rem;
}

.titulo-tuto h2 {
  color: #282113;
  font-size: 1.8rem;
  margin: 0;
}


.logo-home {
  width: 70px;
  height: auto;
}

/* cards */
.card-tuto {
  width: 100%;               /* ocupa toda a largura disponível */
  max-width: 450px;          /* limite opcional p/ telas grandes */
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.desc-tuto p {
  color: #333;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.desc-tuto{
  width: 100%;               /* ocupa toda a largura disponível */
  max-width: 450px;  
}


/* Parte superior (vídeo) */
.video-preview {
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.play-icon {
  width: 30px;
  opacity: 0.7;
}

/* Parte inferior (texto e botão) */
.card-inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}

.titulo-aula {
  font-weight: 600;
  color: #282113;
  font-size: 0.9rem;
  line-height: 1.3;
}

.btn-assistir {
  background-color: #4D5C52;
  color: white;
  font-size: 0.85rem;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: background 0.2s ease;
  height: 40px;
}

.btn-assistir img {
  width: 14px;
}

.btn-assistir:hover {
  background-color: #30403A;
}
