.tuto-container {
  background-color: #E9E9EB;
  min-height: 100vh;
  padding: 2rem;
}

/* título e logo */
.titulo-tuto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 15%;
}

.titulo-tuto h2 {
  color: #282113;
  font-size: 1.8rem;
  margin: 0;
}

.logo-home {
  width: 22%;
}

.desc-tuto p {
  color: #333;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* CARD */
.card-tuto {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

/* Parte superior (vídeo) */
.video-preview {
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.play-icon {
  width: 30px;
  opacity: 0.7;
}

/* Parte inferior (texto e botão) */
.card-inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}

.titulo-aula {
  font-weight: 600;
  color: #282113;
  font-size: 0.9rem;
  line-height: 1.3;
}

.btn-assistir {
  background-color: #4D5C52;
  color: white;
  font-size: 0.85rem;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: background 0.2s ease;
  height: 40px;
}

.btn-assistir img {
  width: 14px;
}

.btn-assistir:hover {
  background-color: #30403A;
}
