.notif-container {
  width: 100vw;              /* ocupa toda a largura da tela */
  min-height: 100vh;
  background-color: #E9E9EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5vw;         /* usa padding em vw pra ser responsivo */
  box-sizing: border-box;    /* padding não soma à largura total */
  overflow-x: hidden;        /* evita scroll lateral */
}
/* título e logo */
.titulo-notif {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;               /* garante que ocupe a largura total */
  margin-top: 15%;
  margin-bottom: 10%;
}

.titulo-notif h2 {
  color: #282113;
  font-size: 1.8rem;
  margin: 0;
}


.logo-home {
  width: 70px;
  height: auto;
}

/* card */

.card-notif {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto;

  /* ALINHAMENTO VERTICAL */
  align-items: stretch; /* faz cada lado ocupar altura total */
}
.esquerda-notif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* espaço entre imagem e botão */
  gap: 1rem;
}

.esquerda-notif img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  object-fit: cover;
  flex-shrink: 0; /* impede que a imagem deforme */
}

.direita-notif {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* garante que botão fique na base */
  gap: 0.5rem;
}
.direita-notif p{
    color: #000;
    padding: 0px;
    margin: 0px;
    width: 100%;
}


.direita-notif button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #780406;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1rem;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  height: 50px;
}
.esquerda-notif button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #4D5C52;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1rem;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  height: 50px;
}
.detalhes-notif, .nome-vaca, .desc-notif {
    font-weight: 600;
}
.desc-notif {
    color: #FF0000 !important;
    font-size: 14px;
}

