.perfil-container {
  background-color: #E9E9EB;
  min-height: 100vh;
  padding: 2rem;
}

/* título e logo */
.titulo-perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 15%;
}

.titulo-perfil h2 {
  color: #282113;
  font-size: 1.8rem;
  margin: 0;
}

.logo-home {
  width: 22%;
}


/* CARD */
.card-perfil {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

