/* relFazendaScreen.css */
.relanimal-container {
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
  position: relative;
}

.acoes-visu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10%;
  gap: 70%;
}

.acoes-visu img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.2s;
}


.corpo-pdf {
  border-radius: 10px;
  padding: 40px;
  min-height: 80vh;
  position: relative;
}

/* Botão fixo na parte inferior */
.botao-download-fixo {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  background: #4D5C52;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  height: 50px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.botao-download-fixo img {
  width: 20px;
  height: 20px;
}

/* Estilo do conteúdo do relatório */
.relatorio-conteudo {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  color: #333;
  padding-bottom: 100px; /* Espaço para o botão fixo não cobrir o texto */
}

.relatorio-conteudo h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000;
  text-align: start;
}

.relatorio-conteudo p {
  margin-bottom: 16px;
  text-align: justify;
  font-size: 14px;
  color: #000;
}