.home-container {
    background-color: #E9E9EB;
    min-height: 100vh;
    padding: 2rem;
}

.logo-home {
    width: 22%;
}

.titulo-home h2 {
    color: #282113;
    font-size: 30px;
    margin: 0;
}

.titulo-home {
    gap: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5%;
    margin-top: 15%;
}

.cad-fazenda button {
    background-color: #282113;
    border: none;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0 2rem;
}

.cad-fazenda{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5%;
}

.card-fazenda{
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    margin-bottom: 2rem;
    height: 200px;
}

.esquerda {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerda img {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

.direita {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    
}

.direita .title-fazenda p {
    color: #282113;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.desc-fazenda p {
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    margin-top: -10%;
    font-weight: 500;
}



.gerenciar-fazenda button {
    background-color: #282113;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15%;
    width: 90%;
    height: 40px;
}